@page "/"

<h1>Yo Dave!</h1>

<h3>Klik even ook op die menu items hierboven (About en File => Exit).</h3>

En links in de navigatiebalk staan gewoon wat standaard Blazor template items. 


<SurveyPrompt Title="How is Blazor working for you?" />
